body {
  background-color: rgb(27, 52, 75);
  font-family: 'American Typewriter', sans-serif;
  color: white
}

header {
  background-image: url('/texture-33.jpg');
  padding: 1em;
  margin-bottom: 1em;
}

button {
  background-color: #6b6fbc;
  color: white;
  padding: 0.5em;
  border: none;
  border-radius: 0.5em;
  cursor: pointer;
}